@require './normalize'
@require './reset'
@require './typography'

defineFont('Overpass Mono', 'overpass-mono', 300, 'normal')

*, *:before, *:after
  box-sizing: border-box
  font-weight: normal
  font-style: normal
  font-family: $bodyFont


@media all
  html
    font-size: $grid.block

html
  background-color: $bgColor
  font-size: $grid.block
  min-height: 100%

  +media('wide_desk')
    font-size: $grid.block * 1.3

body
  // min-height: 100%
  background-color: $bgColor
  color: $textColor
  font-size: fontSize(16)
  line-height: 1.3em
  max-width: 100%
  overflow-x: hidden

html, body, :global(#app)
  display: flex
  flex-direction: column
  flex: 1 0 auto
// :global(#app)
//   &, & > main
//     min-height: 100%


applyMediaCache()
