@require './mixins.styl'

$monospace = 'Overpass Mono', 'Courier New', Courier, monospace

$bodyFont = $monospace
$headerFont = $monospace
$fallbackFont = 'Courier New', Courier, monospace

// COLORS
$bgColor = #12151E
$textColor = white
