$titleColor = #FFFFFF
$subtitleColor = #878A9B

.section
  margin-top: x(160)
  +media('phone')
    margin-top: x(80)

.innerSection
  width: 100%

.wrapper
  position: relative
  text-align: center

  col(8, 12)

  +media('tablet')
    col(12, 12)

  +media('phone')
    col(12, 12)

.title
  font-size: x(32)
  margin-bottom: x(28)
  text-align: center
  color: $titleColor

  +media('phone')
    margin-bottom x(14)
    font-size: x(28)

.subtitle
  text-align: center
  line-height: 1.5

  .text
    color: $subtitleColor

    +media('phone')
      display: inline
      width: 80%

    &.action
      cursor: pointer
      text-decoration: underline

.button
  margin-top: x(25)
  display: inline-block

  +media('tablet')
    margin-top: x(20)

  +media('phone')
    margin-top: x(25)

  &:hover
    background-color: lighten(#0fb3d9, 10%)

  &:active
    background-color: lighten(#0fb3d9, 20%)

apply_media_cache()