.content
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: stretch
  width: 100%
  flex: 1 0 auto

  > div
    width: 100%

  +media('tablet')
    flex-direction: column

.files
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: stretch
  width: 100%
  flex: 1 0 auto

.file
  display: block
  margin-bottom: x(20)

  +media('tablet')
    margin-bottom: x(10)

  +media('phone')
    margin-bottom: x(10)

  &:last-child
    margin-bottom: 0

    +media('tablet')
      margin-bottom: 0

    +media('phone')
      margin-bottom: 0

.fileContent
  &, &> *
    font-size: x(14)
    text-shadow: none !important

.fileName
  display: block
  padding: 0 x(10)
  margin: 0
  background-color: rgba(white, 0.1)
  border-bottom: 1px dashed rgba(white, 0.3)

.descriptionWrap
  display: block
  width: 100%

.description
  width: 100%
  flex: 0 0 auto
  background-color: rgba(white, 0.1)
  margin-bottom: x(20)
  padding: x(20) x(10)

  +media('tablet')
    margin-bottom: x(10)

  +media('phone')
    margin-bottom: x(10)

.descriptionLabel
  display: block
  padding: 0 x(10)
  margin: 0
  background-color: rgba(white, 0.1)
  border-bottom: 1px dashed rgba(white, 0.3)


applyMediaCache()
