.breadcrumbs
  ul
    list-style: none
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

.item
  display: flex
  &:after
    content: '/'
    opacity: 0.4
    margin: 0 x(5)

// .root
  // +media('phone')
  //   display: none

apply_media_cache()