.link
  outline: none
  cursor: pointer
  text-decoration: none
  &:hover
    .hint
      color: white
.hint
  text-decoration: none !important
  display: block
  opacity: 0.4
  text-decoration: none

.linkItself
  text-decoration: underline

  &:hover
    text-decoration: none

