.section
  padding: 0 x(40)
  min-width: x(320)
  max-width: 100vw
  background-position: center center
  background-size: cover

  +media('tablet')
    padding: 0 x(30)

  +media('phone')
    padding: 0 x(20)



.paddingTop
  padding-top: x(40)

  +media('tablet')
    padding-top: x(30)

  +media('phone')
    padding-top: x(20)

.paddingBottom
  padding-bottom: x(40)

  +media('tablet')
    padding-bottom: x(30)

  +media('phone')
    padding-bottom: x(20)

applyMediaCache()

