.description
  display: block
  margin-top: x(10)

.demo
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  float: 1 0 auto
  background-color: rgba(white, 0.10)
  padding: x(60)

  +media('phone')
    padding: x(20) 0

.demoText
  margin: 0

apply_media_cache()