.group
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: stretch

.label
  padding: 0 x(10)
  margin: 0
  background-color: rgba(white, 0.1)
  border-bottom: 1px dashed rgba(white, 0.3)
  opacity: 0.8

