.controlsWrap
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: stretch

.controlWrap
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: stretch

  margin-bottom: x(20)

  +media('tablet')
    margin-bottom: x(10)

  +media('phone')
    margin-bottom: x(10)

applyMediaCache()
