@keyframes pulse
  0%
    background-color: rgba(white, 0.6)
  100%
    background-color: rgba(white, 0.2)

.wrap
  display: flex
  flex-direction: row
  justify-content: space-between

.barContainer
  position: fixed
  top: 0
  left: 0
  display: block
  z-index: 9999
  width: 100%
  pointer-events: none
  overflow: hidden
  height: x(5)

.bar
  height: 100%
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  background-color: #0fb3d9

.error
  background-color: #e44d7b

apply_media_cache()
