{{^initialState}}
  <!-- no initialState, providing default -->
  <script>
    window.__INITIAL_STATE__ = {};
  </script>
{{/initialState}}

{{#initialState}}
  <script>
    window.__INITIAL_STATE__ = {{{initialState}}};
  </script>
{{/initialState}}
