{{!
  Preloaded fonts without crossorigin will double fetch!
  Ensure you’re adding a crossorigin attribute when fetching fonts using preload otherwise they will be double downloaded.
  ---
  https://medium.com/reloading/preload-prefetch-and-priorities-in-chrome-776165961bbf
}}
{{^statics.fonts}}
  <!-- no fonts to preload -->
{{/statics.fonts}}
{{#statics.fonts}}
  <link rel="preload" href="/assets/{{name}}" crossorigin="anonymous" as="font" type="font/woff2">
{{/statics.fonts}}
