@keyframes listNumberAnimated
  0%
    content: '01·'
  10%
    content: '03·'
  20%
    content: '02·'
  30%
    content: '07·'
  40%
    content: '04·'
  50%
    content: '05·'
  60%
    content: '04·'
  70%
    content: '07·'
  80%
    content: '03·'
  90%
    content: '09·'
  100%
    content: '02·'

.list
  counter-reset: linksList
  list-style: none
  display: bloc
  max-width: x(800)

  +media('tablet')
    width: 100%

  +media('phone')
    width: 100%
    max-height: none

.wrapped
  column-count: 2
  columns-width: 50%
  column-gap: x(20)
  overflow: hidden
  column-fill: balance

  +media('wideDesk')
    column-count: 3
    columns-width: 33.3%

  +media('phone')
    column-count: 1
    columns-width: 100%
    column-gap: 0


.item
  counter-increment: linksList
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin-bottom: 0.5em

  &:before
    align-self: flex-start
    content: counter(linksList, decimal-leading-zero) '·'
    animation: listNumberAnimated 1s linear
    animation-iteration-count: 1
    opacity: 0.6
    margin-right: x(5)

    +selection()
      opacity: 0

.addMore
  opacity: 0.6
  column-span: all
  margin-top: x(10)
  &:before
    content: '···'
    pointer-events: none

applyMediaCache()
