$itemsInColum = 4

@keyframes listNumberAnimated
  0%
    content: '01·'
  10%
    content: '03·'
  20%
    content: '02·'
  30%
    content: '07·'
  40%
    content: '04·'
  50%
    content: '05·'
  60%
    content: '04·'
  70%
    content: '07·'
  80%
    content: '03·'
  90%
    content: '09·'
  100%
    content: '02·'

.list
  counter-reset: linksList
  list-style: none
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  max-width: x(800)

  +media('tablet')
    width: 100%

  +media('phone')
    width: 100%
    max-height: none

.wrapped
  height: 1.5em * $itemsInColum + 0.5em
  max-height: 1.5em * $itemsInColum + 0.5em
  flex-wrap: wrap

  +media('phone')
    height: auto
    max-height: none
    flex-wrap: nowrap

.item
  counter-increment: linksList
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin-bottom: 0.5em
  min-height: 1em

  &:nth-child(4n)
    column-span: all

  &:last-child
    margin-bottom: 0

  &:before
    align-self: flex-start
    content: counter(linksList, decimal-leading-zero) '·'
    animation: listNumberAnimated 1s linear
    animation-iteration-count: 1
    opacity: 0.4
    margin-right: x(5)

    +selection()
      opacity: 0

.addMore
  opacity: 0.4
  &:before
    content: '···'
    pointer-events: none

apply_media_cache()
