.subtitle
  position: relative
  text-transform: uppercase
  font-size: x(16)
  margin-top: 3.2em
  margin-bottom: x(10)

  &:before
    content: '## '
    margin-right: x(5)
    // opacity: 0.4
    // position: absolute
    // left: -1em

