<!doctype html>
<html>
<head>
  <title>Eltech components demo</title>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="ru">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {{> css}}
<body>
  <main id="demo"></main>
  {{> js }}
</body>
</html>
