.wrap
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: stretch

.menuWrap
  display: block
  flex: 0 0 auto
  color: white
  padding: x(20) x(10)
  background-color: rgba(white, 0.10)
  width: x(320)

.menu
  position: sticky
  top: 0

.content
  flex: 1 0 auto
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  padding: 0  0 0 x(20)
