.wrap
  display: block
  position: relative
  min-height: 100%
  // overflow-x: hidden

.route
  min-height: 100%

.animated
  position: absolute
  top: 0
  left: 0
  z-index: 8999
  will-change: opacity, transform
  transform: translate3d(0, 0, 0)
  widht: 100%
  min-height: 100vh
  min-width: 100vw
  pointer-events: none