.section
  background-color: #12151E
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-end
  max-width: x(600)

  +media('wideDesk')
    max-width: x(800)

.content
  z-index: 100

.me
  z-index: 20

.block
  margin-top: x(20)

.description
  margin-bottom: x(10)

.title
  display: block
  position: relative

.description
  display: block

applyMediaCache()
