.section
  background-color: #12151E
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-end

.block
  margin-top: x(20)

.title
  display: block
  position: relative

.description
  display: block
